<!DOCTYPE html>
<html lang="ru">
<head>
    <script defer src="https://cloud.umami.is/script.js" data-website-id="37133622-c0cd-470d-8641-155a94fa5cdf"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }} | {{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="container">
        {% include header-ru.html %}
        <main>
            {{ content }}
        </main>
        {% include footer-ru.html %}
    </div>
</body>
</html>